-- Example configuration file for lisp-formatter
-- Save this as .lisp-format in your project directory
-- Use Natural numbers (positive integers) prefixed with +

{ indentWidth = +2      -- Number of spaces for each indentation level
, inlineMaxWidth = +80  -- Maximum line width before wrapping

 , specials =
   [ { atom = "if", style = +1 }
   , { atom = "cond", style = +1 }
   , { atom = "define", style = +2 }
   , { atom = "let", style = +1 }
   , { atom = "my-special", style = +3 }
   ]
}
